:root {
  /* color */
  --beige-color: #fcf2e1;
  --white-color: #fafafa;
  --green-color: #7eaf9b;
  --blue-color: #082132;

  /* typo */
  --title-font: "EB Garamond", sans-serif;
  --font-weight-title: 400;
  --text-font: "Karla", sans-serif;
  --font-weight-text: 400;
  --font-weight-textNav: 200;
  --pseudo-font: "Dancing Script", sans-serif;
  --font-weight-pseudo: 800;
  --logo-font: "Gloock", sans-serif;
  --font-weight-logo: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--beige-color);
  margin-left: 5%;
  margin-right: 5%;
}
.Toastify__toast {
  font-size: 1.2rem; /* si tu veux rendre le texte plus lisible */
}
