.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.nav-link {
  font-family: var(--text-font);
  font-weight: var(--font-weight-textNav);
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
}
.logo {
  font-family: var(--logo-font);
  font-weight: var(--font-weight-logo);
  display: flex;
  justify-content: flex-start;
  color: inherit;
  text-decoration: none;
}

.logo > h1 {
  font-size: 2rem;
}
