.nav {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.3rem;
}
.logo {
  display: flex;
  justify-content: flex-start;
}

.logo > h1 {
  font-size: 2rem;
}
